* {
	box-sizing: border-box;
}

a {
	color: #03c;
	cursor: pointer;
	text-decoration: none;
}

a:visited {
	color: #900060 ! important;
}

a:hover {
	color: #f00;
}



html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1.error {
	margin: 50px;
	font-size: 300%;
	text-align: center;
}

#editor {
	width: 65%;
	height: 100%;
}

#output, #suite {
	margin: 0;
	top: 0;
	right: 0;
	width: 45%;
	height: 100%;
	z-index: 10000;
	position: absolute;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	background-color: #fff;
	padding: 10px;
	font-size: 16px;
	font-family: Courier, "Courier New", monospace;
}

#suite {
	top: auto;
	bottom: 0;
	height: auto;
}
	#suite .true {
		color: #060;
	}
	#suite .false {
		color: red;
	}

body > iframe,
body > .showHtml {
	display: none;
}

#output iframe {
	width: 100%;
	height: 60vh;
	margin-bottom: 10px;
	border: 1px dotted #008000;
	display: block;
}
	#output .log {
		white-space: pre;
	}

	#output pre.html {
		margin: 0;
		left: 10px;
		right: 10px;
		height: 200px;
		padding: 5px;
		position: absolute;
		background-color: #fff;
		overflow: scroll;
		border: 1px dotted #00274F;
		font-size: 14px;
	}

	#output .showHtml {
		right: 10px;
		padding: 2px 5px;
		position: absolute;
		margin-top: -34px;
		background-color: #cde1f1;
	}

#tasks {
	left: 0;
	bottom: 0;
	padding: 10px 15px;
	z-index: 1000;
	position: absolute;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	background-color: #fff;
	font-family: Arial, Geneva, sans-serif;
	line-height: 160%;
	overflow: auto;
	max-height: 60vh;
	max-width: 50%;
}
	#tasks.collapse {
		color: #fff;
		overflow: hidden;
		font-size: 200%;
		font-weight: bold;
		background-color: #c00;
	}
		#tasks.collapse:before {
			content: '!';
			display: block;
		}

		#tasks.collapse * {
			display: none;
		}

#send-result {
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 10px;
	z-index: 100000;
	position: absolute;
	background: #f0f0ac;
	display: none;
}
